body {
  padding: 0;
  margin: 0;
}
@media (min-width: 992px) {
  body {
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 7rem 2rem;
  }
}
.wrapper-container {
  border-radius: 0px;
  background-color: white;
}
@media (min-width: 992px) {
  .wrapper-container {
    border-radius: 16px;
    max-width: 720px;
    background-color: white;
    padding: 40px;
  }
}
.main-img {
  width: 100%;
}
@media (min-width: 992px) {
  .main-img {
    border-radius: 16px;
  }
}
.heading-font {
  font-family: "Young Serif", serif;
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}
.heading-main {
  font-family: "Young Serif", serif;
  font-size: 32px;
  color: hsl(24, 5%, 18%);
  font-weight: 600;
  margin-top: 20px;
}
.prep-time {
  background-color: hsl(330, 100%, 98%);
  border-radius: 8px;
  padding-left: 15px;
  padding-bottom: 5px;
}
.prep-head {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: hsl(332, 51%, 32%);
  padding: 20px 0 0 10px;
}
p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
}
ul,
ol {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
  line-height: 2;
  padding-left: 24px;
}
li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
  margin-left: 2rem;
}

li {
  padding-left: 15px;
}

.nutrition .row {
  display: flex;
  border-bottom: 1px solid hsl(30, 10%, 90%);
  justify-content: space-between;
  padding: 12px 0;
  font-family: "Outfit", sans-serif;
}
.nutrition .row:last-child {
  border-bottom: none;
}
.nutrition .row .label {
  color: hsl(30, 10%, 34%);
  font-weight: 400;
}
.nutrition .row .value {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
  padding-right: 15rem;
}
@media (max-width: 767px) {
  .nutrition .row .value {
    padding-right: 5rem;
  }
}
@media (max-width: 992px) {
  .wrapper-container > *:not(.main-img) {
    padding-left: 40px;
    padding-right: 24px;
  }
}
@media (max-width: 992px) {
  .prep-time {
    margin: 24px;
  }
}
hr {
  border: none;
  border-top: 1px solid hsl(30, 18%, 87%);
  margin: 32px 24px; /* ⬅️ left & right spacing */
}
